
.import/ene_1.png-bd53fc015cc12c60c151f91e20ac7757.md5
.import/ene_1.png-bd53fc015cc12c60c151f91e20ac7757.stex
.import/layer-1.png-9d59e9df8a1ca244e0b051057c0b8136.md5
.import/layer-2.png-02d8d5f57f9f76636df24b73bfc33dc8.md5
.import/Sem_titulo.png-70e2eff251d737e6aa6b284e53d49851.stex
.import/shipsprite1.png-f51436a136c50f32819f827202d071dc.stex
CanvasLayer.tscn
Enemies/double(2)/Double.gd
Enemies/Invader/ene_1.png
Enemies/Invader/ene_1.png.import
Enemies/Invader/Invader.gd
Enemies/Invader/Invader.tscn
Enemies/MissileBatery(3)/Missile.gd
Enemies/MissileBatery(3)/MissileBat.gd
Enemies/MissileBatery(3)/MissileBat.tscn
Scenario/life.gd
Scenario/Missiles.gd
Scenario/ParallaxBackground/layer-1.png
Scenario/ParallaxBackground/layer-2.png
Scenario/Tests.tscn
Ship/Sem_titulo.png
Ship/Sem_titulo.png.import
Ship/shipsprite1.png
Ship/shipsprite1.png.import
